@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[90%] mx-auto 2xl:w-[80%];
  }

  .large-heading {
    @apply capitalize text-[72px] leading-[80px] text-black dark:text-white font-bold;
  }
}

@layer base {
  :root {
    --navbar-height: 70px;

    /* Colors ====================== */
    --background: #eee;
    --primary: #d3f40a;
    --light-white: #eeeeee;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgba(0, 0, 0, 0.2);
    --accent-black: #424242;
    --text-gray: #8b8b8b;
  }

  .dark {
    --background: #1b1b1b;
    --primary: #d3f40a;
    --light-white: #eeeeee;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgba(0, 0, 0, 0.84);
    --accent-black: #424242;
    --tex-gray: #8b8b8b;
  }

  h1 {
    @apply large-heading;
  }
}
